node_modules
yarn-error.log
.DS_Store
.vscode/settings.json
*.swp
eth/.ipynb_checkpoints/demo-checkpoint.ipynb
artifacts/src/Circuits/lr/lr.zkey
*.pyc
eth/keys/ipfs.json
eth/keys/.private_key
artifacts/src/Circuits/lr/lr.wasm
